
/*repeating myself less, by define a common styling for multiple elements*/


#intro-image{width:100%; height:300px;}

h1, #info-text,
#information div{margin-top:100px;}


#info-text,
#information,
.short-info{margin:auto;}



#information,
.short-info{display: flex;}






#info-text{
    width:900px;
    font-size: 30px;
    line-height: 60px;
}


#information{width:1500px; flex-direction: row;}  


.short-info{
    width:300px;
    height:350px;
    flex-direction: column;
}


.short-info img{height:250px; width:100%;}


.short-info p{font-size: 20px; width:100%;}

footer{margin-top:100px;}


/*Scaling this to fit most screens*/
@media (max-width:1500px){
    #intro-image{height:250px;}
    #information{width:1000px;}
}


@media (max-width:1000px){
    #intro-image{height:200px;}
    h1{font-size:30px;}
    #info-text{font-size:20px;width:500px;line-height:35px;}
    #information{width:700px;}
    .short-info{height:250px; width:200px;}
    .short-info p{font-size:16px;}
}


@media (max-width:700px){
    #intro-image{height:150px;}
    h1{font-size: 20px;}
    #info-text{font-size: 16px; width:400px; line-height: 30px;}
    #information{width:425px;}
    .short-info{height:160px;width:130px;}
    .short-info p{font-size:14px;}
}



@media (max-width:425px){
    #intro-image{height:100px;}
    #information{flex-direction: column;width:200px;}
    .short-info{height:200px;width:200px;}
    #info-text{font-size: 10px; width:225px;line-height: 20px;}
    .short-info p{font-size: 10px;}
}



