html, body{margin: 0; padding: 0; height: 100%;}

body, header, nav, footer, footer div, .social-media-icons, #menu-check:checked ~ .mobile-menu, .intro, main, 
.promo-games, .display, .display div, .october-bundle, .offer-navigation, .information, .short-info, .item-cart, 
.buy-products, .pay-methods, .desktop-menu-icons div, .complete-message, .checkout-form, .checkout-info, 
.choose-pay-method{display: flex;}

header, nav, footer, .social-media-icons, .display, .offer-navigation, .information, .buy-products, 
.pay-methods, .choose-pay-method{flex-direction: row;}

body, .mobile-menu, footer div, .intro, main, .promo-games, .display div, .october-bundle, .short-info, 
.item-cart, .complete-message, .checkout-form, .checkout-info{flex-direction: column;}

a:hover, i:hover, .active, .action-button:hover{color: #645FFF;}

body, a, i, .order-button, .action-button, .checkout-info input{color: #fff;}

header, .mobile-menu, footer, .order-button:hover, .action-button:hover, .item-cart, .complete-message, .checkout-form, 
.checkout-info input{background-color: #000;}

nav, .mobile-menu, .mobile-menu a, footer a, button, .checkout-info input{padding: 10px;}

.desktop-menu-icons, .mobile-menu, .display i, .desktop-menu-icons div{position: absolute;}

nav, footer, .intro, .intro-image, .checkout-info, #payment-method{width: 100%;}

.mobile-nav, header input, .mobile-menu, .extra-items, .add-to-cart{display: none;}

header a, .mobile-nav i, h3{font-size: 25px;}

header, footer, footer div, .intro, main, .display, .display div, .october-bundle, .offer-navigation, 
.extra-items, .information, .short-info, .item-cart, .buy-products, .pay-methods, .desktop-menu-icons div, 
.complete-message, .checkout-form, .choose-pay-method{align-items: center;}

footer, footer div, .intro, main, .display div, .october-bundle, .extra-game, .item-cart, 
.desktop-menu-icons div, .complete-message{justify-content: center;}

p, a, button{font-size: 20px;}

h1, h2{text-align: center;}

.promo-games, .gaming-image, .october-bundle, footer, .information, .checkout-form{margin-top: 100px;}

.display, .offer-navigation, .information, .pay-methods{justify-content: space-evenly;}

.promo-games, .gaming-image{width: 1200px;}

.not-chosen img, .order-button{width: 200px;}

.october-bundle, .order-button{border-radius: 10px;}

.order-button, .extra-items, .desktop-menu-icons div{background-color: #645FFF;}

footer div, .chosen img{width: 250px;}

.october-bundle, footer, .information, .short-info{flex-wrap: wrap;}

.october-bundle p, .info-text, .complete-message p{width: 800px;}

h2, header i, footer i, .item-cart i, .choose-pay-method i{font-size: 30px;}

.october-bundle, .information, .item-cart, .complete-message{width: 1000px;}

.extra-items, .short-info, .choose-pay-method{width: fit-content;}

.display, .action-button, .item-cart, .pay-methods, .complete-message, .checkout-info{margin-top: 50px;}

.mobile-menu, .item-cart, .buy-products{height: fit-content;}

.active i, .pay-methods i:hover, .checkout-form i:hover{color: inherit;}

.october-bundle, .action-button{background-color: #2b2b2b;}

.october-bundle img, .item-cart img{height: 150px; width: 120px;}

nav, .buy-products{justify-content: space-between;}

.extra-items, .desktop-menu-icons div{border-radius: 100px;}

.order-button, .desktop-menu-icons div{border: 0.5px solid #000;}

.order-button, .action-button{box-shadow:  0 5px 4px #000;}

.october-bundle, .complete-message{padding: 20px;}

.item-cart, .complete-message, .checkout-form, .checkout-info input{border-radius: 20px;}

.checkout-form label, .choose-pay-method{margin-top: 30px;}

header, .choose-pay-method{justify-content: start;}

.order-button, .choose-pay-method{height: 50px;}









body{background-color: #090909; min-height: 100vh;}

header{line-height: 50px;}

nav{word-spacing: 150px;}

a{text-decoration: none;}

.desktop-menu-icons{right: 400px;}

header nav div{margin-left: 150px;}

.mobile-menu{top: 60px; left: -20px;  width: 100px;}

.mobile-nav nav{word-spacing: 10px;}

footer a{font-size: 20px;}

main{flex: 1;}

h1{font-size: 35px;}

.intro{background-image: url("../images/home/space.png");}

.intro h1, .checkout-form{width: 600px;}

.display i{font-size: 80px; opacity: 0.5; margin-bottom: 80px;}

.display i:hover{opacity: 1;}

.gaming-image{height: 350px;}

.chosen img{height: 300px;}

.not-chosen img{height: 250px;}

.october-bundle img{margin: 30px;}

.october-bundle a{margin-top: 20px;}

.offer-navigation, .buy-products, .pay-methods, .checkout-info input{width: 500px;}

.extra-items{padding: 5px;}

.intro-image{height: 500px;}

.short-info img{height: 200px; width: 300px;}

.short-info p{width: 275px;}

.action-button:hover{border:  0.5px solid #645FFF; }

.item-cart{padding: 30px;}

.buy-products{border-top: 0.5px solid #fff; border-bottom: 0.5px solid #fff;}

.pay-methods i{font-size: 40px;}

.desktop-menu-icons div{height: 25px; width: 25px; top: 0; margin-left: 210px; font-size: 16px;}

.complete-message{padding-bottom: 50px;}

.checkout-form{padding: 50px;}

.checkout-form h1, .checkout-form h3{margin-bottom: 0;}

.checkout-form i{margin-left: 20px;}

.checkout-info{align-items: start;}

.checkout-info input{margin-top: 10px; border: 0.5px solid #645FFF; font-size: 18px;}

.checkout-form label{font-size: 22px;}

.choose-pay-method label{margin-left: 10px;}

.choose-pay-method input{height: 20px; width: 20px;}

.checkout-form h1, .checkout-form h3, .choose-pay-method label, .choose-pay-method input{margin-top: 0;}


















@media(max-width: 1750px){
    header nav div{margin-left: 75px;}

    header nav{word-spacing: 100px;}

    .desktop-menu-icons{right: 200px;}

    .desktop-menu-icons div{margin-left: 165px;}

    .intro-image{height: 400px;}
}



@media(max-width: 1400px){
    .promo-games, .gaming-image{width: 800px;}

    .chosen img{width: 220px;}

    .not-chosen img{height: 200px; width: 170px;}

    .chosen img, .gaming-image{height: 250px;}

    .october-bundle{width: 600px;}

    .october-bundle p{width: 400px;}

    .october-bundle img{height: 100px; width: 80px; margin: 10px;}

    .offer-navigation{width: 300px;}

    .order-button{width: 120px; height: 40px; padding: 2px}
}







@media(max-width: 1200px){
    header{line-height: 40px;}

    header nav{word-spacing: 70px;}

    header nav a{font-size: 20px;}

    header nav i, footer i{font-size: 25px;}

    footer a{font-size: 14px;}

    footer h3{font-size: 18px;}

    .intro-image{height: 300px;}

    .information{width: 800px;}

    .short-info{height: 275px;}

    .short-info img{height: 150px; width: 250px;}

    .short-info p{width: 200px;}

    .desktop-menu-icons div{margin-left: 120px; font-size: 10px; height: 20px; width: 20px;}

    .item-cart, .complete-message{width: 600px;}

    .complete-message p{width: 500px;}
}












@media(max-width: 1050px){
    .desktop-menu-icons{right: 100px;}

    footer div{width: 140px;}

    footer img{height: 75px;}

    footer i{font-size: 20px;}
}


























@media(max-width: 950px){
    .intro img{width: 200px;}

    .intro img, .chosen img{height: 150px;}

    .intro h1, .buy-products, .checkout-form{width: 400px;}

    .promo-games, .information, .checkout-form{margin-top: 50px;}

    h1, .buy-products i{font-size: 25px;}

    .display{margin-top: 20px;}

    .chosen img{width: 120px;}

    .not-chosen img, .short-info img, .buy-products img{height: 120px;}

    .not-chosen img, .buy-products img{width: 100px;}

    .not-chosen i{font-size: 50px;}

    .display h3, .order-button, .action-button{font-size: 16px;}

    .gaming-image, .intro-image, .short-info{height: 200px;}

    .promo-games, .gaming-image{width: 600px;}

    .october-bundle, .info-text{width: 500px;}

    .october-bundle img{margin: 5px; height: 85px; width: 70px;}

    .october-bundle h2{font-size: 20px;}

    p, a{font-size: 14px;}

    .order-button{width: 90px;}

    .information{width: 550px;}

    .short-info img{width: 160px;}

    .short-info p{width: 150px;}

    .pay-methods i{font-size: 30px;}

    .checkout-form h3, .checkout-form i{font-size: 22px;}

    .checkout-form label, .checkout-form input{font-size: 18px;}

    .checkout-form input{padding: 8px; width: 300px;}

    .choose-pay-method input{width: 15px; height: 15px;}

    .checkout-info{margin-top: 30px;}
}































@media(max-width: 800px){
    header{line-height: 30px;}

    header nav{word-spacing: 30px;}

    header nav div{margin-left: 50px;}

    header nav a{font-size: 16px;}

    header nav i{font-size: 18px;}

    .item-cart, .complete-message{width: 400px;}

    .pay-methods{width: 250px; margin-top: 30px;}

    .buy-products, .complete-message p{width: 350px;}

    .desktop-menu-icons div{font-size: 9px; height: 15px; width: 15px; margin-left: 68px;}
}











@media(max-width: 600px){
    header nav div{margin-left: 20px;}

    .desktop-menu-icons{right: 50px;}

    .intro img{width: 150px;}

    .intro img, .october-bundle img{height: 100px;}

    .intro h1, .item-cart, .complete-message{width: 300px;}

    h1, .october-bundle p, .buy-products i{font-size: 20px;}

    .promo-games, .gaming-image, .october-bundle, .information{width: 400px;}

    .chosen img{height: 120px; width: 100px;}

    .not-chosen img{height: 90px; width: 70px;}

    .display i{font-size: 40px;}

    .display i, .action-button{margin-top: 30px;}

    .display h3, .checkout-form label, .checkout-form input{font-size: 14px;}

    .gaming-image{height: 150px; margin-top: 50px;}
    
    .october-bundle{align-items: start; justify-content: start; height: 180px; margin-top: 75px;}

    .october-bundle h2{text-align: center; width: 100%;}

    .october-bundle img{width: 85px;}

    .extra-game, .bundle-info, .offer-navigation{display: none;}

    .extra-items, .add-to-cart{display: flex;}

    .extra-items{margin-left: 80px; margin-top: -30px;}

    .add-to-cart{margin-left: 150px; font-size: 30px; margin-top: -40px;}

    .october-bundle p{margin-left: 130px; margin-top: -80px; width: fit-content;}

    .info-text{width: 350px;}

    .short-info img{height: 80px;}

    .short-info img, .short-info p{width: 120px;}

    .buy-products, .complete-message p, .checkout-form{width: 250px;}

    .buy-products h3, .checkout-form i{font-size: 16px;}

    .buy-products img{height: 70px; width: 55px;}

    .buy-products p, .action-button{font-size: 12px;}

    .pay-methods i{font-size: 25px;}
    
    .checkout-form{padding: 20px;}
    
    .checkout-form h3{font-size: 18px;}

    .checkout-form input{padding: 5px; width: 200px;}

    .choose-pay-method input{height: 12px; width: 12px;}
}










@media(max-width: 450px){
    .desktop-nav{display: none;}

    .mobile-nav{display: flex;}

    header{justify-content: center; line-height: 20px; align-items: center;}

    header nav{width: 80%; justify-content: space-between;}

    footer, .information{flex-direction: column;}

    .footer-link, .logo-and-links{margin-top: 20px;}

    .intro h1, .short-info p, .pay-methods, .complete-message p, .checkout-form{width: 200px;}

    h1, .buy-products i{font-size: 18px;}

    .social-media-icons{margin-bottom: 10px;}

    .promo-games, .gaming-image, .october-bundle, .info-text, .information, .short-info img, 
    .item-cart{width: 250px;}

    .chosen img{height: 100px; width: 80px;}

    .not-chosen img{height: 80px; width: 60px;}

    .display i{font-size: 30px;}

    .october-bundle{padding: 5px;}

    .gaming-image, .short-info img{height: 120px;}

    .intro-image{height: 150px;}

    .short-info{height: 200px;}

    .item-cart, .complete-message{padding: 10px;}

    .buy-products, .complete-message{width: 230px;}

    .checkout-form h3{font-size: 16px;}

    .checkout-form input{width: 170px;}

    .choose-pay-method input{width: 10px; height: 10px;}
}






































