header, nav, footer, footer div, .social-media-icons, #menu-check:checked ~ .mobile-menu, .intro, main, 
.promo-games, .display, .display div, .october-bundle, .offer-navigation{display: flex;}

header, nav, footer, .social-media-icons, .display, .offer-navigation{flex-direction: row;}

.mobile-menu, footer div, .intro, main, .promo-games, .display div, .october-bundle{flex-direction: column;}

a:hover, i:hover, .active{color: #645FFF;}

a, header i,.social-media-icons, .intro h1, .promo-games, .october-bundle, .order-button{color: #fff;}

header, .mobile-menu, footer, .order-button:hover{background-color: #000;}

nav, .mobile-menu, .mobile-menu a, footer a, .order-button{padding: 10px;}

.desktop-menu-icons, .mobile-menu, .display i{position: absolute;}

nav, footer, .intro{width: 100%;}

.mobile-nav, header input, .mobile-menu, .extra-items, .add-to-cart{display: none;}

header a, .mobile-nav i, h3{font-size: 25px;}

header, footer, footer div, .intro, main, .display, .display div, .october-bundle, .offer-navigation, 
.extra-items{align-items: center;}

footer, footer div, .intro, main, .display div, .october-bundle, .extra-game{justify-content: center;}

p, a, button{font-size: 20px;}

h1, h2{text-align: center;}

.promo-games, .gaming-image, .october-bundle, footer{margin-top: 100px;}

.display, .offer-navigation{justify-content: space-evenly;}

.promo-games, .gaming-image{width: 1200px;}

.not-chosen img, .order-button{width: 200px;}

.october-bundle, .order-button{border-radius: 10px;}

.order-button, .extra-items{background-color: #645FFF;}

footer div, .chosen img{width: 250px;}

.october-bundle, footer{flex-wrap: wrap;}











body{margin: 0; padding: 0; background-color: #090909; height: 100%;}

header{line-height: 50px;  justify-content: start;}

nav{justify-content: space-between;  word-spacing: 150px;}

header i, footer i{font-size: 30px;}

a{text-decoration: none;}

.desktop-menu-icons{right: 400px;}

header nav div{margin-left: 150px;}

.mobile-menu{top: 60px; left: -20px; height: fit-content; width: 100px;}

.mobile-nav nav{word-spacing: 10px;}

footer{bottom: 0;}

footer a{font-size: 20px;}

main{flex: 1;}

h1{font-size: 35px;}

h2{font-size: 30px;}

.intro{background-image: url("../images/home/space.png");}

.intro h1{width: 600px;}

.display{margin-top: 50px;}

.display i{font-size: 80px; opacity: 0.5; margin-bottom: 80px;}

.display i:hover{opacity: 1;}

.gaming-image{height: 350px;}

.chosen img{height: 300px;}

.not-chosen img{height: 250px;}

.october-bundle{background-color: #2b2b2b; padding: 20px; width: 1000px;}

.october-bundle img{height: 150px; width: 120px; margin: 30px;}

.october-bundle p{width: 800px;}

.order-button{height: 50px; border: 0.5px solid #000; box-shadow: 0 5px 4px #000;}

.october-bundle a{margin-top: 20px;}

.offer-navigation{width: 500px;}

.extra-items{width: fit-content; border-radius: 100px; padding: 5px;}












































@media(max-width: 1750px){
    header nav div{margin-left: 75px;}

    header nav{word-spacing: 100px;}

    .desktop-menu-icons{right: 200px;}
}



@media(max-width: 1400px){
    .promo-games, .gaming-image{width: 800px;}

    .chosen img{width: 220px;}

    .not-chosen img{height: 200px; width: 170px;}

    .chosen img, .gaming-image{height: 250px;}

    .october-bundle{width: 600px;}

    .october-bundle p{width: 400px;}

    .october-bundle img{height: 100px; width: 80px; margin: 10px;}

    .offer-navigation{width: 300px;}

    .order-button{width: 120px; height: 40px; padding: 2px}
}







@media(max-width: 1200px){
    header{line-height: 40px;}

    header nav{word-spacing: 70px;}

    header nav a{font-size: 20px;}

    header nav i, footer i{font-size: 25px;}

    footer a{font-size: 14px;}

    footer h3{font-size: 18px;}
}












@media(max-width: 1050px){
    .desktop-menu-icons{right: 100px;}

    footer div{width: 140px;}

    footer img{height: 75px;}

    footer i{font-size: 20px;}
}


























@media(max-width: 950px){
    .intro img{width: 200px;}

    .intro img, .chosen img{height: 150px;}

    .intro h1{width: 400px;}

    .promo-games{margin-top: 50px;}

    h1{font-size: 25px;}

    .display{margin-top: 20px;}

    .chosen img{width: 120px;}

    .not-chosen img{height: 120px; width: 100px;}

    .not-chosen i{font-size: 50px;}

    .display h3, .order-button{font-size: 16px;}

    .gaming-image{height: 200px;}

    .promo-games, .gaming-image{width: 600px;}

    .october-bundle{width: 500px;}

    .october-bundle img{margin: 5px; height: 85px; width: 70px;}

    .october-bundle h2{font-size: 20px;}

    .october-bundle p, .october-bundle a{font-size: 14px;}

    .order-button{width: 90px;}
}































@media(max-width: 800px){
    header{line-height: 30px;}

    header nav{word-spacing: 30px;}

    header nav div{margin-left: 50px;}

    header nav a{font-size: 16px;}

    header nav i{font-size: 18px;}
}











@media(max-width: 600px){
    header nav div{margin-left: 20px;}

    .desktop-menu-icons{right: 50px;}

    .intro img{width: 150px;}

    .intro img, .october-bundle img{height: 100px;}

    .intro h1{width: 300px;}

    h1, .october-bundle p{font-size: 20px;}

    .promo-games, .gaming-image, .october-bundle{width: 400px;}

    .chosen img{height: 120px; width: 100px;}

    .not-chosen img{height: 90px; width: 70px;}

    .display i{font-size: 40px; margin-top: 30px;}

    .display h3{font-size: 14px;}

    .gaming-image{height: 150px; margin-top: 50px;}
    
    .october-bundle{align-items: start; justify-content: start; height: 180px; margin-top: 75px;}

    .october-bundle h2{text-align: center; width: 100%;}

    .october-bundle img{width: 85px;}

    .extra-game, .bundle-info, .offer-navigation{display: none;}

    .extra-items, .add-to-cart{display: flex;}

    .extra-items{margin-left: 80px; margin-top: -30px;}

    .add-to-cart{margin-left: 150px; font-size: 30px; margin-top: -40px;}

    .october-bundle p{margin-left: 130px; margin-top: -80px; width: fit-content;}
}











@media(max-width: 450px){
    .desktop-nav{display: none;}

    .mobile-nav{display: flex;}

    header{justify-content: center; line-height: 20px; align-items: center;}

    header nav{width: 80%; justify-content: space-between;}

    footer{flex-direction: column;}

    .footer-link{margin-top: 20px;}

    .intro h1{width: 200px;}

    h1{font-size: 18px;}

    .social-media-icons{margin-bottom: 10px;}

    .promo-games, .gaming-image, .october-bundle{width: 250px;}

    .chosen img{height: 100px; width: 80px;}

    .not-chosen img{height: 80px; width: 60px;}

    .display i{font-size: 30px;}

    .october-bundle{padding: 5px;}

    .gaming-image{height: 120px;}
}






































