

#back-link{
    width:1500px;
    height:50px;
    margin:auto;
    margin-top: 50px;
    color:grey;
}


#back-link:hover{color:#645FFF;}
#back-link div{position: absolute;height:50px;}
#back-link div p{margin-left:40px;margin-top:0;}
#back-link i{font-size:30px;}





#game-info{
    display:flex;
    flex-direction: row;
    margin-top:100px;
    margin:auto;
    width:1500px;
}

#info{
    width:1200px;
    background-color:#000;
}

#game-info img{width:300px;}
#description{width:800px; margin:auto;text-align: left;}
#features{text-align: left;margin-left:50px;}




#action-section{width:1500px;margin:auto;height:300px;border: solid white;}
#seller-info{
    width:300px;
    background-color: #000;
    height:300px;
    position: absolute;
}


#seller-info p{text-align: left;font-size: 18px;}



#stars{display:flex;flex-direction: row;}
#stars i{font-size:25px;}


.fullstar{color:yellow;}
#half-start{color:yellow;}






#action-buttons{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left:300px;
    margin-top:50px;
}

#add-game, #make-favorite{
    height:200px;
    width:200px;
    margin-left:200px;
    text-align: center;
    
}

#action-buttons div i{font-size:30px;color:#fff;}
#action-buttons div i:hover{color:#645FFF;}




#specs{
    margin-top:200px;
    height:500px;
    width:1500px; 
    margin:auto;
    margin-top:50px;
    background-color:#000;
}

#specs h2{padding:25px;}



#minimum-specs, #recommended-specs{width:400px;position:absolute;}
#minimum-specs li, #recommended-specs li{text-align: left;margin-top:20px;font-size: 22px;}
#specs li{list-style-type: none;}
#recommended-specs{margin-left:950px;}
#minimum-specs{margin-left:150px;}


footer{margin-top:100px;}






/*Working with the scaling*/
@media (max-width:1700px){
    #game-info,
    #action-section,
    #specs, #back-link{width:1000px;}

    #description{width:600px;}
    #add-game, #make-favorite{margin-left:100px;}
    #specs{height:550px;}
    #minimum-specs{margin-left:50px;}
    #recommended-specs{margin-left:500px; width:450px;}
    
}


@media (max-width:1000px){
    #game-info,
    #action-section,
    #specs, #back-link{width:700px;}
    
    #game-info img,
    #seller-info{width:220px;}
    
    #game-info img{height:350px;}
    #info{width:600px;}
    #info h1{font-size:25px;}
    #info p{font-size:20px;}
    #description{width:400px;}
    #seller-info h2{font-size:22px;}
    #seller-info p{font-size:18px;}
    #action-buttons{margin-left:220px;}
    #add-game, #make-favorite{margin-left:0;}
    #recommended-specs, #minimum-specs{width:300px;}
    #recommended-specs{margin-left:350px;}
    #specs{height:450px;}
    #specs ul{width:250px;}
    #specs li{font-size:16px;}
}



@media (max-width:700px){
    #game-info img,
    #action-buttons,
    #specs div{margin:auto;}
    
    #game-info,
    #action-section,
    #specs, #back-link{width:425px;}

    #info, #seller-info{width:100%;}
    #seller-info, #specs div{position:relative;}
    


    #game-info{display:flex;flex-direction: column;background-color: #000;}
    #game-info img{height:250px; width:200px;}
    #description{width:350px;}
    #features{margin-left:auto;}
    #action-section{height:550px;}
    #seller-info h2{padding:10px;}
    #action-section{margin-top:50px; height:500px;}
    #specs{ height:700px;}
    #recommended-specs{top:50px;}

    
}


@media (max-width:425px){
    #game-info,
    #action-section,
    #specs, #back-link{width:250px;}
    
    #specs div,
    #description,
    #action-buttons{width:100%;}

    #description{font-size:10px;}
    #stars i{font-size:20px;}
    #action-buttons{position: relative;}
    #add-game, #make-favorite{width:125px; font-size: 12px;}
    #specs{height:800px;}
    #specs div ul{width:150px;}
    #specs div li{margin-top:25px;}
}