

#back-link{
    width:120px;
    height:50px;
    margin-left:200px;
    margin-top: 50px;
    color:grey;
}


#back-link:hover{color:#645FFF;}
#back-link div{position: absolute;height:50px;}
#back-link div p{margin-left:40px;margin-top:0;}
#back-link i{font-size:30px;}





#game-info{
    display:flex;
    flex-direction: row;
    margin-top:100px;
    margin:auto;
    width:1500px;
    border: solid white;
}

#info{
    width:1200px;
    background-color:#000;
}

#game-info img{width:300px;}
#description{width:800px; margin:auto;text-align: left;}
#features{text-align: left;margin-left:50px;}




#action-section{border: solid white;width:1500px;margin:auto;height:300px;}
#seller-info{
    width:300px;
    background-color: #000;
    height:300px;
    position: absolute;
}


#seller-info p{text-align: left;font-size: 18px;}



#stars{display:flex;flex-direction: row;}
#stars i{font-size:25px;}


.fullstar{color:yellow;}
#half-start{color:yellow;}






#action-buttons{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left:300px;
    margin-top:50px;
}

#add-game, #make-favorite{
    height:200px;
    width:200px;
    margin-left:200px;
    text-align: center;
    
}

#action-buttons div i{font-size:30px;color:#fff;}
#action-buttons div i:hover{color:#645FFF;}




#specs{
    margin-top:200px;
    height:500px;
    width:1500px; 
    margin:auto;
    margin-top:100px;
    background-color:#000;
}

#specs h2{padding:25px;}



#minimum-specs, #recommended-specs{width:400px;position:absolute;border: solid red;}
#minimum-specs li, #recommended-specs li{text-align: left;margin-top:20px;font-size: 22px;}
#specs li{list-style-type: none;}
#recommended-specs{margin-left:950px;}
#minimum-specs{margin-left:150px;}





/*Working with the scaling*/
@media (max-width:1700px){
    #game-info{width:1000px;}
    #description{width:600px;}
    #action-section{width:1000px;}
    #add-game, #make-favorite{margin-left:100px;}
    #specs{width:1000px; height:550px;}
    #minimum-specs{margin-left:50px;}
    #recommended-specs{margin-left:500px; width:450px;}
}


@media (max-width:1000px){
    #game-info{width:700px;}
    #game-info img{height:350px;width:220px;}
    #info{width:600px;}
    #info h1{font-size:25px;}
    #info p{font-size:20px;}
    #description{width:400px;}
    #action-section{width:700px;}
    #seller-info{width:220px;}
    #seller-info h2{font-size:22px;}
    #seller-info p{font-size:18px;}
    #action-buttons{margin-left:220px; border:solid yellow;}
    #add-game, #make-favorite{margin-left:0; border: solid red;}
    #specs{width:700px;}
    
}



@media (max-width:700px){
    #game-info{display:flex;flex-direction: column;width:425px;}
    #game-info img{height:250px; width:200px;margin:auto;}
    #info{width:100%}
    #description{width:350px;}
}
