/*Commom styling for the cart-page even tho there is an item or not*/
#my-empty-cart,
#item-cart{
    background-color: #000;
    width: 800px;
    border-radius: 20px;
    margin:auto;
    padding:10px 0;
}


.action-button{
    height:30px;
    width:150px;
    font-size: 20px;
    background-color:#131313;
    color: #fff;
    margin-top:50px;
}

.action-button:hover{color:#645FFF;background-color:#000;}











/*Styling for the empty cart page*/
#my-empty-cart{
    height:350px;
    margin-top:200px;
}

#my-empty-cart p{
    font-size:25px;
    margin-top:100px;
    width:400px;
    margin:auto;
}



.desktop-cart-icon i{color:#645FFF;}




@media (max-width:1000px){#my-empty-cart{width:600px;margin-top:150px;}}


@media (max-width:700px){
    #my-empty-cart{width:400px; margin-top:100px;}
    #my-empty-cart h1{font-size:25px;}
    #my-empty-cart p{font-size:20px; width:325px;}
}


@media (max-width:425px){
    #my-empty-cart{width:275px;height:200px;}
    #my-empty-cart h1{font-size:16px;}
    #my-empty-cart p{font-size:15px; width:250px;}
}













/*Styling for the page if the cart contains items*/
#item-cart{
    height:450px;
    margin-top:150px;
    padding:10px 0;
}


#item-cart img{
    height:161px;
    width:125px;
    margin-left:-200px;
    position: absolute;
}

#purchase-info{margin-left:350px;text-align: left;}

#trash{
    position: absolute;
    font-size:30px;
    color:#fff;
    margin-top:-100px;
    margin-left:600px;
}

#trash:hover{color:#645FFF;}

.line{
    border: solid grey;
    width:400px;
    margin-left:300px;
}


#pay-methods{
    display: flex;
    flex-direction: row;
    margin-left:150px;
    margin-top:50px;
}


#pay-methods div{padding:0 40px;}
#pay-methods i{font-size:40px;}












/*making better scaling*/
@media (max-width:1000px){
    #item-cart{width:600px;}
    #item-cart img{margin-left:-250px;}
    .line{margin-left:80px;}
    #purchase-info{margin-left:200px;}
    #trash{margin-left:450px;}
    #pay-methods{margin-left:50px;}
}


@media(max-width:700px){
    #item-cart{width:400px;}
    #item-cart h1{font-size:25px;}
    #item-cart img{height:123px;width:90px;margin-left:-150px;}
    #purchase-info{margin-left:150px;}
    #purchase-info p{font-size:15px;}
    .line{width:280px;}
    #trash{margin-left:325px;margin-top:-75px;}
    #trash i{font-size:22px;}
    .action-button{font-size: 14px;}
    #pay-methods{margin-left: 60px;}
    #pay-methods div{padding:0 25px;}
    #pay-methods i{font-size:20px;}
}


@media (max-width:425px){
    #item-cart{width:275px;}
    #item-cart h1{font-size:25px;}
    #item-cart img{height:105px;width:70px;margin-left:-120px;}
    #purchase-info{margin-left:100px;}
    #purchase-info p{font-size:12px;}
    .line{width:175px;}
    #trash{margin-left:235px;margin-top:-70px;}
    #trash i{font-size:18px;}
    .action-button{font-size: 13px; width:100px;}
    #pay-methods{margin-left: 32px;}
    #pay-methods div{padding:0 15px;}
    #pay-methods i{font-size:20px;}
}