#register-purchase{
    width:600px;
    border: solid yellow;
    margin-left:660px;
    font-size: 20px;
    padding:50px;
}

#register-purchase h1{text-align: center;}


#register-purchase h3{margin-top:100px;}




#register-purchase i{
    font-size: 30px;
    margin-left:15px;
}

input{width:100px;}


.info{
    height:30px;
    font-size: 15px;
    border: solid #645fff;
    border-radius: 20px;
    background-color: #131313;
    text-align: center;
    color:#fff;
    width:150px;
}

#place-order{
    margin-top:50px;
    height:40px;
    width:150px;
    margin-left:225px;
    font-size: 16px;
    background-color: #131313;
    border: solid grey;
    color: grey;
}

#place-order:hover{
    border: solid #645fff;
    color:#645fff;
}


#expire{
    height:30px;
    width:200px;
    font-size: 20px; 
    color:#fff;
    background-color: #131313;
    border: solid grey;
}