#logo{width:350px;margin-left: -900px;}



#contact{
    display: flex;
    flex-direction: row;
    height:325px;
    width:1300px;
    margin:auto;
    margin-top:50px;
}




#images{
    width:700px;
    display: flex;
    flex-direction: row;
}



#images img{width:300px;}
#employee-image{height:325px;}

#chat-buble{ height:175px;}


#buble-message{
    position: absolute;
    width:180px;;
    margin-left:375px;
    font-size: 25px;
}





#contact-info{
    width:400px;
    margin-left:300px;
    margin-top:200px;
    height:100px;
    position: absolute;
}




#chat-bot{
    width:250px;
    height:250px;
    margin:auto;
}

#chat-bot i{
    font-size:100px;
    border-radius: 100px;
    padding:20px;
    color:#645FFF;
    background-color:#000000;
}

#chat-bot:hover i{background-color:#645FFF;color:#000;}


#chat-bot h3{font-size:30px;}



#send-mail{
    display: flex;
    flex-direction: column;
    width:800px;
    margin:auto;
    margin-top:100px;
    background-color:#000;
    border-radius: 20px; 
    height:550px; 
}

#send-mail h3{font-size: 30px;}

#username-or-email, #category, #description, #send-button {
    font-size:20px;
    margin-top:30px;
    margin: auto;
    background-color:#131313;
    color:#fff;
    border:solid 1px #645FFF;
}


#username-or-email, #category, #description{width:300px;}
#description{height:150px;}
#send-button{width:200px;}

#send-button:hover{color:#645FFF; background-color: #000;}



#phone-contact{display: none;}






/*scaling the page*/

@media (max-width:1400px){
    #logo{height:200px;width:250px;margin-left:-700px;}
    #contact{width:1000px;}
}




@media (max-width:1100px){
    #logo{margin-left:-550px;}
    
    #contact{width:800px; height:220px;}

    #images{width:400px;}
    #employee-image{height:220px; width:400px;}
    #chat-buble{height:100px; width:10px;}
    #buble-message p{display: none;}
    #buble-message{margin-left:235px;margin-top:10px;}

    #contact-info{width:400px; height:75px;margin-top:130px;margin-left:200px;}
    #contact-info p{font-size: 18px;text-align: left;}


    #chat-bot{height:220px;}
    #chat-bot i{font-size: 50px;}
    #chat-bot h3{font-size:20px;}


}





@media (max-width:900px){
    #logo{height:150px; width:200px;margin-left:-400px;}

    #contact{width:600px;}
    #images{width:400px;}

    #employee-image{height:250px;}
    #contact-info{margin:auto;margin-top:300px;width:400px;}
    #contact-info p{font-size: 25px;}

    #chat-bot{height:150px;width:150px;}

    #send-mail{width:600px;margin-top:250px;}
}




@media (max-width:700px){
    #logo{margin-left:-200px;}

    #contact{width:400px; height:175px;}
    #images{width:300px;}
    #employee-image{height:175px; width:100px;}
    #buble-message{margin-left:150px;}
    #buble-message h3{font-size:18px;}

    #contact-info{margin-top:200px;}
    #contact-info p{font-size:20px;}

    #send-mail{width:400px;margin-top:150px;}

}


@media (max-width: 425px){
    #logo{display: none;}

    #images{width:100%;}
    #images img{width:100px;}
    #employee-image{height:125px;}
    #chat-buble{height: 70px;}
    #buble-message h3{font-size:12px;margin-left:-150px;}

    #contact{width:280px;}
    #contact-info{display: none;}
    

    #chat-bot i{font-size:25px;}
    #chat-bot h3{display:none;}
    #chat-bot{height:75px;width:75px;margin-left:-100px;margin-top:75px;}


    #send-mail{display: none;}
    #phone-contact{
        display:block;
        background-color: #000;
        border-radius: 20px;
        width:280px;
        height:300px;
        margin: auto;
        margin-top:50px;
    }

    #phone-contact h3{font-size:20px;}
    #phone-contact p{font-size:15px;margin-top:50px;}

    #phone-contact button{
        height:30px;
        color:grey;
        background-color: #131313;
        border:solid 1px #645FFF;
        margin-top:50px;
    }

    footer{margin-top:100px;}
}