/*making common commands for elements with same type of styling. this is for following the DRY principe*/


/*All images on this site will fill the div-elements they are placed in*/
img{
    height:100%;
    width:100%;
}

#display,
.october-game{
    display:flex;
    flex-direction: row;
}




#intro, h2,
#promo-games,
#october-bundle{
    text-align: center;
    align-items: center;
}



h2, #gaming,
#promo-games,
#october-bundle{
    margin-top:5%;
}

#phone-ob-price,
#extra-item,
#add-to-cart{
    display:none;
}











/*making the unique codes for the elements*/


/*adjusting the intro section to fit the screen*/
#intro{
    height:350px;
    background-image: url("../images/home/space.png");
    display: flex;
    flex-direction: column;
    width:100%;
}


#intro h1{
    width:600px;
}


/*making the border of the image*/

#logo{
    width:275px;
    height:200px;
}






/*adjusting the promo section*/
#promo-games{height:300px;}
#display{width:50%;}


#space-war-promo , #black-promo{margin-left:50px;}
#assassin-promo{margin-left:620px;}

#selected {
    width:225px;
    height:275px;
}

.not-selected{
    width:175px;
    height:225px;
}





/*styling the image*/
#gaming{
    width:80%;
    margin-left:10%;
}




/*styling the october bundle*/
#october-bundle{
    width:60%;
    margin-left:20%;
    border-radius: 20px;
    background-color:#2b2b2b;
    height:450px;
}


.october-game{
    height:150px;
}


#october-bundle img{
    max-width:150px;
    margin:0 4%;
}


#october-bundle p{width:360px;margin-left:33%}
#october-bundle a{color:#959595;margin-left:2%;text-decoration: none;}
#october-bundle a:hover{color:#645FFF;}



#extra-item{
    font-size:12px;
    font-weight: bold;
    border-radius: 100px;
    height:20px;
    width:20px;
    background-color:#d9d9d9;
    color:#000;
    position: absolute;
    justify-content: center;
}














/*adjust the site for phone-users*/
@media(max-width: 425px){
    /*removing desktop logo*/
    #intro img{display:none;}
    #intro{height:80px;}
    #promo-games{height:175px;}
    #promo-games div{margin-top:50px;}
            
    /*removing pictures from the october games*/
    #furious-ob, #forge-legends-ob,
    #boxer-ob, #black-ob{display:none;}

    #october-bundle{height:100px;text-align: left;}
    #october-bundle img{
        width:40px;
        height:50px;
        position: absolute;
    }



    .order-button{display: none;}  
            
            
    #extra-item{
        display:flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-top:25px;
        margin-left:35px;
    }

    #october-bundle p, #october-bundle a{font-size:12px;}
    #phone-ob-price{
        display:block;
        margin-top:-3%;
        text-align: center;
    }

    #october-bundle a{
        border:solid 1px #645FFF;
        position: absolute;
        width:70px;
        text-align: center;
        background-color:#090909;
        margin-left:35%;
    }

    #add-to-cart{
        display: block;
        position: absolute;
        margin-left:20%;
        margin-top:5%;
        }

    #add-to-cart:hover{color:#645FFF;}


}


@media (max-width:375px){
            
    #intro h1{font-size:12px;}
    #promo-games h3{font-size:10px;}
    #add-to-cart{margin-top:6%;}


}