body{
    margin:0;
    padding:0;
    background-color:#090909;
    color: white;
}


p , a{font-size: 20px;}
h2{font-size: 40px;}
h1{font-size: 50px;}








nav{background-color:red;}



/*desktop navigationbar*/

.desktop-nav{
    height:60px;
    width:100%;
    display: flex;
    flex-direction: row;
}

.desktop-nav a{
    text-decoration: none;
    color:white;
    margin-left:5%;
    line-height: 60px;
}

.active , .desktop-nav a:hover{color:#654FFF;}



.user , .cart{
    height:30px;
    width:30px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:15px;
    position: absolute;
}




.user{margin-left:40%;}
.cart{margin-left:41%;}











/*phone navigationbar*/
.phone-nav{
    height:50px;
    width:100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}


.phone-nav div , .phone-nav a{
    height:30px;
    width:30px;
    background-repeat: no-repeat;
    background-size: cover;  
    margin:10% 5%;
}




.phone-logo{
    height:50px;
    width:60px;
    margin-top:-10px;
    margin-left:0px;
}








/*making the navigationbar disapear when screen size is set to lower than tablet*/
@media (min-width:767px){
    .phone-nav{display: none;}   
}

@media (max-width: 767px){
    .desktop-nav{display: none;}
}