body{
    margin:0;
    padding:0;
    background-color:#090909;
    color: white;
}


p , a{font-size: 20px;}
h2{font-size: 25px;}
h1{font-size: 30px;}














/*CSS for the navigationbar*/

header , nav{background:#ff0000;}


header , header i{
    position: relative;
    padding:10px;
    font-size: 35px;
    color:#fff;
}

header i{display:flex;flex-direction: row;}




nav{position: absolute; left:0;}


Nav a{
    display: block;
    padding: 20px 50px;
    text-decoration: none;
    color:#fff;
    display:flex;
    flex-direction: row;
    font-size: 35px;
}




nav a:hover, header i:hover, .active{color:#645FFF;}



/*making the checkboxes and navigation not to show unless the burger-button is checked*/
nav , #menu-check, #home-check{display:none;}
#menu-check:checked ~ nav{display: block;}



.desktop-user-icon{margin-left:50%;}




/*making the navgation change when reaching 768px.*/
@media (min-width: 768px){
    nav{display:block;position: static;}
    .menu-icon, .home-icon, .user-icon, .cart-icon, .phone-logo, nav i{display: none;}
    nav a{display: inline-block;}
}




/*adjusting font-sizes for different screen sizes*/
@media (max-width:1440px){
    nav a, header i{font-size:20px;}
    nav a{padding:10px 20px;}
}


@media (max-width:425px){header i{margin:0 4.5%;}}
@media (max-width:375px){header i{margin:0 3.5%;}}
@media (max-width:320px){header i{margin:0 2%;}}







/*moving user and cart icon with based on screen size*/

@media (max-width: 1440px){.desktop-user-icon{margin-left:50%;}}
@media (max-width: 1024px){.desktop-user-icon{margin-left:30%;}}
@media (max-width: 768px){.desktop-user-icon{margin-left:20%;}}







/*making it more fit for screensize 1920*/
@media(min-width: 1920px){
    nav a, header i{font-size:25px;}
    nav a{padding:10px 35px;}
    .desktop-user-icon{margin-left:50%;}
}



