body, .cart-item-count{text-align: center;}

body, .cart-item-count, .order-button, .logo-and-links, .footer-logo{align-items: center;}

body, header , header i, nav a, table a, .order-button{color: #fff;}

h2, header , header i, .social-media-icons{font-size: 30px;}

header , nav, footer, .order-button:hover{background-color: #000;}

p , a, table{font-size: 20px;}

header , header i, footer{position: relative;}

header , header i{padding: 10px;}

header i, nav a, nav div, .logo-and-links, footer, .social-media-icons, .footer-logo{display: flex;}

header i, nav a, nav div, footer, .social-media-icons{flex-direction: row;}

nav, .desktop-menu-icons, .cart-item-count, table{position: absolute;}

nav, footer, .footer-logo img{width: 100%;}

nav a, table a{text-decoration: none;}

nav a, th, .order-button{font-size: 25px;}

nav a:hover, header i:hover, .active, table a:hover, .cart-item-count, .social-media-icons i:hover{color: #645FFF;}

nav , #menu-check{display: none;}

.order-button, .social-media-icons{margin-top: 2%;}


















body{margin: 0; padding: 0; background-color: #090909;}

h1{font-size: 35px;}

h3{font-size: 22px;}

nav{left: 0;}

nav a{padding: 0% 3%;}

.desktop-menu-icons{margin-left: 80%; margin-top: -40px;}

.desktop-menu-icons i{margin: 0 15px;}

#menu-check:checked ~ nav{display: block;}

.cart-item-count, .footer-logo{justify-content: center;}

.cart-item-count{border-radius: 360px; height: 20px; width: 20px; font-size: 15px; margin-left: 150px; margin-top: 5px;}

.order-button{width: 20%; height: 10%; border-radius: 20px; background-color: #645FFF; font-weight: bold;}

footer{padding: 10px 0; bottom: 0; margin-top: 100px;}

table, tr, td, th{border-collapse: collapse;}

table{width: 50%; margin-left: 10%; text-align: left;}

td, th{padding: 2% 0%;}

.logo-and-links{width: 30%; margin-left: 60%; position: static; padding: 2%; flex-direction: column;}

.footer-logo{height: 120px; width: 150px;}

.footer-logo img{height: 100%;}

.social-media-icons{width: 40%;}

.social-media-icons div{padding: 0 10%;}




























@media (max-width: 1600px){
    table{width:800px;}

    .logo-and-links{margin-left:1000px;}
}








@media (max-width: 1400px){
    table{width: 600px;}

    table th{font-size: 22px;}

    table td{font-size: 18px;}

    .logo-and-links{width: 150px; height: 150px; margin-left: 800px;}

    .logo-and-links i{font-size: 20px;}

    .footer-logo{height: 100px; width: 120px;}
}










@media (max-width: 1000px){
    .desktop-menu-icons{margin-left: 75%;}

    table{margin-left: 50px;}

    table th{font-size: 20px;}

    .logo-and-links{margin-left: 600px;}
}










@media (max-width: 800px){
    .desktop-menu-icons{margin-left: 70%; margin-top: -30px;}
     
    nav a{font-size: 20px;}

    .desktop-menu-icons i{font-size: 25px; margin: 0 5px;}

    .cart-item-count{height: 15px; width: 15px; font-size: 10px; margin-left: 70px;}

    table th{font-size: 18px;}

    table td{font-size: 15px;}

    table{width: 350px;}

    .logo-and-links{margin-left: 450px; }
}












@media (max-width: 650px){
    footer, .logo-and-links, .footer-logo{height: 100px;}

    footer table{display: none;}

    .logo-and-links{display: flex; flex-direction: row; width: 100%; margin-left:auto;}

    .footer-logo{width: 150px;}

    .social-media-icons{margin: auto;}

    .social-media-icons i{font-size: 15px;}
    
    .footer-logo img{height: 70px; width: 100px;}
}













@media(max-width: 500px){
    nav a{font-size: 15px;}

    .desktop-menu-icons i{font-size: 20px; margin: 0 5px;}
}










@media (min-width:426px){
    nav{display: block; position: static;}

    .menu-icon, header a{display: none;}

    nav a{display: inline-block;}
}





@media (max-width:425px){
    header i{padding:0 20px; font-size: 25px;}

    header img{height: 40px; width: 50px;}

    .desktop-menu-icons{display: none;}

    nav div{flex-direction: column;}
}





@media (max-width:375px){
    header i{padding: 0 12px; font-size: 18px;}

    header img{height: 30px; width: 40px;}
}